<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    s
    <form method="GET" action="/draw_card">
      <input type="submit" value="もう一枚カードを引く">
    </form>
    <%= @points %>
    <%= @cards %>
  </body>
</html>
