<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <form method="GET" action="/draw_card">
      <input type="submit" value="カードを引く">
    </form>
  </body>
</html>
